<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>

  </head>
  <style>
  .link{
    color: blue;
    /* text-decoration: none; */
  }
  .link:hover{
    color: white;
    /* text-decoration: none; */
  }
  </style>

<div class="container-fluid bg-light" style="margin: 0px 5px; padding: 0px; width: 100%">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-4 border-bottom">
    <ul class="nav">
      <% if defined? new %>
      <li class="nav-item">
        <%= link_to "New Post", new_post_path, :method => :get, :class => "btn btn-outline-primary"%>
      </li>
      <% end %>

      <% if defined? posts %>
      <li class="nav-item">
        <%= link_to "Back to Posts", posts_path, :method => :get, :class => "btn btn-outline-primary"%>
      </li>
      <% end %>

      <% if defined? group %>
      <li class="nav-item">
        <%= link_to "Go to Chat", group_path(group), :method => :get, :class => "btn btn-outline-primary"%>
      </li>
      <% end %>

      <% if defined? post %>
      <li class="nav-item">
        <%= link_to "Go to Post", post_path(post), :method => :get, :class => "btn btn-outline-primary"%>
      </li>
      <% end %>
    </ul>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <h3>Meerkat</h3>
    </ul>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "Home", root_path, :method => :get, :class => "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Me", profile_path, :method => :get, :class => "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log out", logout_path, :method => :delete, :class => "nav-link"%>
      </li>
    </ul>
  </header>
</div>