
<style>
  .card_position{
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;  
    width:1000px;  
  }
  .card_title{
    font-family: "Sans-serif", "Arial", monospace;
    font-size: 30px;
    font-weight: bold;
  }  
</style>


<%= form_tag update_post_path(@post), :method => :put, :class => 'form' do %>
<div class="card card_position">
  <div class="card-header text-center card_title">
    Edit Your Post
  </div>
  
  <div class="card-body">
    <div class="row">  
      <div class="col-md-12">
       <%= label :post, :title, 'Title' ,:class => 'control-label'%>
       <%= text_field :post, :title, :required => true, :class => 'form-control' %>
      </div>
    </div>
    <br/>
    <div class="row">  
      <div class="col-md-12">
        <br/>
       <%= label :post, :content, 'Content', :class => 'control-label' %>
       <%= text_area :post, :content, :class => 'form-control input-large', :required => true, :rows=>3 %>
      </div>
    </div>
    
    <br/>
    <div class="row">  
      <div class="col-md-3">
       <%= label :post, :start, 'Start Date', :class => 'control-label' %>
       <%= date_field :post, :start, :class => 'form-control', :required => true %>
      </div>
      
      <div class="col-md-3">
       <%= label :post, :end, 'End Date', :class => 'control-label' %>
       <%= date_field :post, :end, :class => 'form-control', :required => true %>
      </div>
    </div>
    
    <br/>
    <div class="row">
      <div>
        Number of group members
      </div>
      <div class="col-md-3">
       <%= text_field :post, :low_number, :class => 'form-control', :required => true, :type => "number", :min => "1",placeholder: "At least", id:"low" %>
      </div>
      
      <div class="col-md-3">
       <%= text_field :post, :high_number, :class => 'form-control', :required => true, :type => "number", :min => "1",placeholder: "At most",id:"high" %>
      </div>
    </div>
    
    <br/>
    <div class="row">
      <div>
        Tags
      </div>
      <div class="col-md-4">
       <%= text_field :tags, :tag1, :class => 'form-control',placeholder: "tag1" %>
      </div>
      
      <div class="col-md-4">
       <%= text_field :tags, :tag2, :class => 'form-control',placeholder: "tag2"%>
      </div>
      
      <div class="col-md-4">
       <%= text_field :tags, :tag3, :class => 'form-control',placeholder: "tag3"%>
      </div>    
    </div>
    
    <br/>
    <div class="row">
      <div class="col-md-3">
       <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
      </div>
    </div>
    
  </div>
</div>
<% end %>
