<%= render 'posts/header' %>

<h1>Edit Your Post</h1>
<%= form_tag update_post_path(@post), :method => :put, :class => 'form' do %>
  <%= label :post, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :post, :title, :class => 'form-control', :required => true %>
  <br/>
  <%= label :post, :content, 'Content', :class => 'col-form-label' %>
  <%= text_field :post, :content, :class => 'form-control', :required => true %>
  <br/>
  <%= label :post, :start, 'Start Date', :class => 'col-form-label' %>
  <%= date_field :post, :start, :class => 'form-control', :required => true %>
  <br/>
  <%= label :post, :end, 'End Date', :class => 'col-form-label' %>
  <%= date_field :post, :end, :class => 'form-control', :required => true %>


  <br/>
  <%= label :post, :low_number, 'The least number of people your group need:', :class => 'col-form-label' %>
  <%= text_field :post, :low_number, :class => 'form-control', :required => true, :type => "number", :min => "1" %>
  <br/>
  <%= label :post, :high_number, 'The most number of people your group need:', :class => 'col-form-label' %>
  <%= text_field :post, :high_number, :class => 'form-control', :required => true, :type => "number", :min => "1" %>
  <br/>

  <%= label :tags, :tag1, 'tag1', :class => 'col-form-label' %>
  <%= text_field :tags, :tag1, :class => 'form-control' %>
  <br/>
  <%= label :tags, :tag2, 'tag2', :class => 'col-form-label' %>
  <%= text_field :tags, :tag2, :class => 'form-control' %>
  <br/>
  <%= label :tags, :tag3, 'tag3', :class => 'col-form-label' %>
  <%= text_field :tags, :tag3, :class => 'form-control' %>
  <br/>
  <%= label :tags, :tag4, 'tag4', :class => 'col-form-label' %>
  <%= text_field :tags, :tag4, :class => 'form-control' %>
  <br/>
  <%= label :tags, :tag5, 'tag5', :class => 'col-form-label' %>
  <%= text_field :tags, :tag5, :class => 'form-control' %>
  <br/>

  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
<% end %>
