<h1>Complete Your post</h1>
<%= form_tag update_post_path(@post), :method => :put, :class => 'form' do %>
  <%= label :post, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :post, :title, :class => 'form-control' %>
  <br/>
  <%= label :post, :content, 'Content', :class => 'col-form-label' %>
  <%= text_field :post, :content, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
<% end %>
