<%= render 'posts/header' %>

<h1>Posts</h1>

<ul>
  <% @tags.each do |a| %>
    <li>

    <%= check_box_tag "names[#{a.name}]", 'yes', false -%>
    <%=  a.name %>
    </li>
  <% end %>
</ul>

<table class="table table-striped col-md-12" id="post">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Need members</th>
      <th>Content</th>
      <th>Period</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post.title, post_path(post) %>
        </td>
        <td>
          <%= [post.tag1, post.tag2, post.tag3].join(' ') %>
        </td>
        <td>
          <%= interval_format(post.low_number, post.high_number) %>
        </td>
        <td>
          <%= post.content %>
        </td>
        <td>
          <%= interval_format(datef(post.start), datef(post.end)) %>
        </td>
        <td>
          <%= timef post.created_at %>
        </td>
        <td>
          <% if @current_user.id==post.user.id %>
          <%= link_to "Edit", edit_post_path(post), :method => :get %>
          <% end %>
        </td>
        <td>
          <% if @current_user.id==post.user.id %>
          <%= link_to "Delete", del_post_path(post), :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
