<%= render 'posts/header' %>

<h1>Complete Your Post</h1>
<%= form_tag posts_path, :class => 'form' do %>
  <%= label :post, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :post, :title, :class => 'form-control' %>
  <br/>
  <%= label :post, :content, 'Content', :class => 'col-form-label' %>
  <%= text_field :post, :content, :class => 'form-control' %>
  <br/>
  <%= label :post, :start, 'Start Date', :class => 'col-form-label' %>
  <%= date_field :post, :start, :class => 'form-control' %>
  <br/>
  <%= label :post, :end, 'End Date', :class => 'col-form-label' %>
  <%= date_field :post, :end, :class => 'form-control' %>

  <br/>
  <%= label :post, :low_number, 'The least number of people your group need:', :class => 'col-form-label' %>
  <%= text_field :post, :low_number, :class => 'form-control' %>

  <br/>
  <%= label :post, :high_number, 'The most number of people your group need:', :class => 'col-form-label' %>
  <%= text_field :post, :high_number, :class => 'form-control' %>

  <br/>

  <%= label :post, :content, 'tag1', :class => 'col-form-label' %>
  <%= text_field :post, :tag1, :class => 'form-control' %>
  <br/>

  <%= label :post, :content, 'tag2', :class => 'col-form-label' %>
  <%= text_field :post, :tag2, :class => 'form-control' %>
  <br/>
  <%= label :post, :content, 'tag3', :class => 'col-form-label' %>
  <%= text_field :post, :tag3, :class => 'form-control' %>
  <br/>

  <%= submit_tag 'Create', :class => 'btn btn-primary' %>
<% end %>
 