<h1>Complete Your Post</h1>
<%= form_tag posts_path, :class => 'form' do %>
  <%= label :post, :title, 'Title', :class => 'col-form-label' %>
  <%= text_field :post, :title, :class => 'form-control' %>
  <br/>
  <%= label :post, :content, 'Content', :class => 'col-form-label' %>
  <%= text_field :post, :content, :class => 'form-control' %>
  <br/>

  <%= label :post, :content, 'tag1', :class => 'col-form-label' %>
  <%= text_field :post, :tag1, :class => 'form-control' %>
  <br/>

  <%= label :post, :content, 'tag2', :class => 'col-form-label' %>
  <%= text_field :post, :tag2, :class => 'form-control' %>
  <br/>
  <%= label :post, :content, 'tag3', :class => 'col-form-label' %>
  <%= text_field :post, :tag3, :class => 'form-control' %>
  <br/>

  <%= submit_tag 'Create', :class => 'btn btn-primary' %>
<% end %>
 