<h1>
  <%= @post.title %>
</h1>
<p>
  <%= @post.content %>
</p>

<table class="table table-striped col-md-12" id="comment">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Content</th>
      <th>Reply</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <% if comment.is_public or comment.from_user_id == @current_user.id or @post.user_id == @current_user.id or comment.to_user_id == @current_user.id %>
      <tr>
        <td>
          <%= @current_user.name %>
        </td>
        <td>
          <%= time_format comment.created_at %>
        </td>
        <td>
          <%= comment.content %>
        </td>
        <td>
          <%= link_to "Reply", post_path(@post, to_comment_id: comment.id, to_user_id: comment.from_user_id), method: :get %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= form_tag create_comment_path, :class => 'form' do %>
  <% if @to_comment_id %>
    <%= label :to_comment, :content, "Reply to #{@to_comment_id}", :class => 'col-form-label' %>
  <% else %>
    <%= label :to_comment, :content, 'Reply to all', :class => 'col-form-label' %>
  <% end %>
  <%= text_field :to_comment, :content, :class => 'form-control' %>
  <%= label :to_comment, :is_public, 'is public', :class => 'col-form-label' %>
  <%= check_box_tag "is_public", true %>
  <%= text_field :to_comment, :id, :value => @to_comment_id, :hidden => true, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Reply', :class => 'btn btn-primary' %>
<% end %>