<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .container_all{
    padding-right:100px;
    padding-left:100px;  
  }
  .table_title{
    font-family: "Sans-serif", "Arial", monospace;
    font-size: 20px;
    font-weight: bold;
  }
  
  .table_content{
    font-family: "Sans-serif", "Arial", monospace;
    font-size: 15px;
  }
  .title{
    font-family: "Sans-serif", "Arial", monospace;
    font-weight: bold;
    font-size: 40px;
    padding-top:10px;
  }
  .content{
    font-family: "Sans-serif", "Arial", monospace;
    font-size: 20px;
  }
  .sub_content{
    font-family: "Sans-serif", "Arial", monospace;
    font-size: 15px;
    line-height: 10px;
  }
  
  .comment_box_format{
    width:500px;  
  }
  
  hr.hr1 {
  border-top: 1px dashed black;
  padding-bottom: 15px;
  }
  
  .link{
    color: #0F52BA;
    text-decoration: none;
  }
  .link:hover{
    color: white;
    text-decoration: none;
  }
  
  .two_bnt{
    padding-right:10px;
  }
  
  </style>
</head>

<div class="container_all">
  
<div class="btn btn-outline-primary">
  <%= link_to "Go Back to Posts", posts_path, :method => :get, :class => "link"%> 
</div>
<div class="btn btn-outline-primary">
  <%= link_to "Go to Group Chat", group_path(@group), :method => :get, :class => "link"%> 
</div>
  
<h1 class="title">
  <%= @post.title %>
</h1>
<p class="content">
   <%= @post.content %>
</p>
<p class="sub_content">
   &middot; Number of people needed for this group: <%= @post.low_number %> - <%= @post.low_number %>
</p>

<% if @post.user_id === @current_user.id%>
<p class="sub_content">
  &middot; Your status: You are the host
</p>
<hr class="hr1">
  
<br/>
<p class="table_title">Pending Applications</p>
  
<% if @applied_user_name.length()>0 %>
<table class="table table-striped col-md-12 table_content" id="comment">
  <thead>
    <tr>
      <th>Application from</th>
      <th>Self Introduction</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..@applied_user_name.length()-1 %>
    <tr>
        <td>
          <%= @applied_user_name[i] %><br/>
      </td>
      <td>
          <%= @applied_user_intro[i] %><br/>
      </td>
      <td>
      <div class="btn btn-outline-primary">
        <%= link_to "Approve",@approve_url[i], :method => :post, :class => "link"%>
        </div>
        <div class="btn btn-outline-primary">
        <%= link_to "Reject",@reject_url[i], :method => :post, :class => "link"%>   
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>    
<% else %>
  <div class = "sub_content">
    There are no pending applications
  </div>

<% end %>
<hr class="hr1">  
  
<br/>
<p class="table_title">Approved Applicationss</p>

<% if @approved_user_name.length()>0 %>
<table class="table table-striped col-md-12 table_content" id="comment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Self Introduction</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..@approved_user_name.length()-1 %>
    <tr>
        <td>
          <%= @approved_user_name[i] %><br/>
      </td>
      <td>
          <%= @approved_user_intro[i] %><br/>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>    
<% else %>
  <div class = "sub_content">
    There are no approved applications
  </div>
<%  end %>
  
<% else %>
<div>
  <p class="sub_content">
    &middot; Your status: <%=  @current_group_user_status %>
  </p>
  <hr class="hr1">
  
  <% flash.each do |type, msg| %>
    <div class="p1">
      <%= msg %>
    </div>
  <% end %>
  
  <% if @current_group_user_status == "You haven't applied for this Group" %>
  <p class="table_title">
    Apply for this group
  </p>
  <%= form_tag apply_path, :class => 'form' do %>
    <%= label :applyuser, :intro, 'Introduce yourself a bit: ', :class => 'col-form-label' %>
    <%= text_field :applyuser, :intro, :class => 'form-control comment_box_format', :id => 'comment_box' %>
  <br>
  <%= submit_tag 'Apply', :class => 'btn btn-outline-primary' %>
  <% end %>
  
  
  <% elsif @current_group_user_status == "rejected" %>
    <div>
      Sorry, your application is rejected by the host. Feel free to check out other groups
    </div>
  <% elsif @current_group_user_status == "approved" %>
      <div>
        Your application is approved and the host has sent you an invitation!
        Once you accepted the invitation, you will have access to the group chat.
       </div>
        <div class="btn btn-outline-primary">     
        <%= link_to "Accept the invitation!",accept_path(@post), :method => :post, :class => "link"%>
        </div>
        <div class="btn btn-outline-primary">
        <%= link_to "Hmmm..I don't want to join anymore",refuse_path(@post), :method => :post, :class => "link"%>
        </div>
  
  <% elsif @current_group_user_status == "refused" %>
    <div>
      You have applied for this group before and you were invited to join, but you refused the invitation.
  </div>
  
  <% elsif @current_group_user_status == "accepted" %>
  <div>
      Yeah! You are a group member!
  </div>
  
  <% end %>
</div>
 <% end %>  

  
<hr class="hr1">
<p class="table_title">Comments</p>
<table class="table table-striped col-md-12 table_content" id="comment">

  <thead>
    <tr>
      <th>ID</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Content</th>
      <th>Reply</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <% if comment.is_public or comment.from_user_id == @current_user.id or @post.user_id == @current_user.id or comment.to_user_id == @current_user.id %>
      <tr>
        <td>
          <%= comment.id %>
        </td>
        
        <td>
          <%= comment.from_nickname %>
        </td>
        <td>
          <% if comment.to_nickname%>
            <%= comment.to_nickname %>

          <% else %>
             Public
          <% end %>
        </td>
        
        <td>
          <%= timef comment.created_at %>
        </td>
        <td>
          <%= comment.content %>
        </td>
        <td>     
          <%= link_to "Reply", post_path(@post, to_comment_id: comment.id, to_user_id: comment.from_user_id), method: :get %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<div class="container mb-5 mt-5">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <% @comments.each do |comment| %>
            <% if comment.is_public or comment.from_user_id == @current_user.id or @post.user_id == @current_user.id or comment.to_user_id == @current_user.id %>
              <div class="col-md-12">
                <div class="media">
                  <div class="media-body">
                    <div class="row">
                      <div class="col-8 d-flex">
                        <h5><%= comment.from_nickname %></h5> <span> - <%= timef comment.created_at %> </span> 
                        
                      </div>
                      <div class="col-4">
                        <div class="pull-right reply"> <a href="#"><%= link_to "Reply", post_path(@post, to_comment_id: comment.id, to_user_id: comment.from_user_id), method: :get %></a> </div>
                      </div>
                    </div><%= comment.content %><hr>
                    <div class="media mt-4">
                      <div class="media-body">
                        <div class="row">
                          <div class="col-12 d-flex">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_tag create_comment_path, :class => 'form' do %>
  <% if @to_comment_id %>
    <%= label :to_comment, :content, "Reply to #{@to_comment_id}", :class => 'col-form-label' %>
  <% else %>
    <%= label :to_comment, :content, 'Reply to all', :class => 'col-form-label' %>
  <% end %>
  <%= text_field :to_comment, :content, :class => 'form-control comment_box_format', :id => 'comment_box' %>
  <%= label :to_comment, :is_public, 'is public', :class => 'col-form-label' %>
  <%= check_box_tag "is_public", true %>
  <%= text_field :to_comment, :id, :value => @to_comment_id, :hidden => true, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Reply', :class => 'link btn btn-outline-primary' %>
<% end %>
  

<br/>
  
<hr class="hr1">
<p class="table_title">Current Group Members</p>
  
<% if @all_members_name.length()>0 %>
<table class="table table-striped col-md-12 table_content" id="comment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Self Introduction</th>
    </tr>
  </thead>
  <tbody>
    <% for i in 0..@all_members_name.length()-1 %>
    <tr>
        <td>
          <%= @all_members_name[i] %><br/>
      </td>
      <td>
          <%= @all_members_intro[i] %><br/>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class = "sub_content">
    Currently there are no group members
  </div>
  <% end %>
</div>
 
  