<div class="btn btn-primary">
  <%= link_to "Go to Posts", posts_path, :method => :get, :class => "link"%> 
</div>
<div class="btn btn-primary">
  <%= link_to "Go to Group Chat", group_path(@group), :method => :get, :class => "link"%> 
</div>

<p><%= flash[:msg] %></p>

<h1>
  <%= @post.title %>
</h1>
<p>
  Host: <%= @post.content %>
</p>
<p>
   Number of people needed for this group: <%= @post.low_number %>-<%= @post.low_number %>
</p>
Accepted Group Members:<br/>
<% @all_members.each do |member| %>
  <%= member.name %><br/>
<% end %>
<br/>
Comments:
<table class="table table-striped col-md-12" id="comment">
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Content</th>
      <th>Reply</th>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <% if comment.is_public or comment.from_user_id == @current_user.id or @post.user_id == @current_user.id or comment.to_user_id == @current_user.id %>
      <tr>
        <td>
          <%= comment.from_nickname %>
        </td>
        <td>
          <%= time_format comment.created_at %>
        </td>
        <td>
          <%= comment.content %>
        </td>
        <td>
          <%= link_to "Reply", post_path(@post, to_comment_id: comment.id, to_user_id: comment.from_user_id), method: :get %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= form_tag create_comment_path, :class => 'form' do %>
  <% if @to_comment_id %>
    <%= label :to_comment, :content, "Reply to #{@to_comment_id}", :class => 'col-form-label' %>
  <% else %>
    <%= label :to_comment, :content, 'Reply to all', :class => 'col-form-label' %>
  <% end %>
  <%= text_field :to_comment, :content, :class => 'form-control', :id => 'comment_box' %>
  <%= label :to_comment, :is_public, 'is public', :class => 'col-form-label' %>
  <%= check_box_tag "is_public", true %>
  <%= text_field :to_comment, :id, :value => @to_comment_id, :hidden => true, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Reply', :class => 'btn btn-primary' %>
<% end %>


<% if @post.user_id === @current_user.id%>
<p>
  You are the host
</p>

<br/>

<div>
  Pending Applications:
</div>
<div>
  <% for i in 0..@applied_user_name.length()-1 %>
  <div>
    This person applied: <%= @applied_user_name[i] %>
    <div class="btn btn-primary">
        <%= link_to "Approve",@approve_url[i], :method => :post, :class => "link"%>
        <%= link_to "Reject",@reject_url[i], :method => :post, :class => "link"%>   
    </div>
  </div>
  <% end %> 
</div>

<br/>

<div>
  Approved Applications:
</div>
<div>
  <% for i in 0..@approved_user_name.length()-1 %>
  <div>
    This person is in the group: <%= @approved_user_name[i] %>
  </div>
  <% end %>  
</div>
  

<% else %>
<div>
  You are not the host
  <div>
    status:<%=  @current_group_user_status %>
  </div>
    
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  
  <% if @current_group_user_status == "You haven't applied for this Group" %>
    <div class="btn btn-primary">
        <%= link_to "Apply", apply_path(@post), :method => :post, :class => "link"%>   
    </div>
  <% elsif @current_group_user_status == "rejected" %>
    <div>
      Sorry, your application is rejected by the host. Feel free to check out other groups
    </div>
  <% elsif @current_group_user_status == "approved" %>
      <div>
        Your application is approved and the host has sent you an invitation!
        Once you accepted the invitation, you will have access to the group chat.
        <p>      
        <%= link_to "Join the group!",accept_path(@post), :method => :post, :class => "link"%>
        <%= link_to "Hmmm..I don't want to join anymore",refuse_path(@post), :method => :post, :class => "link"%>
        </p>
  </div>
  <% elsif @current_group_user_status == "refused" %>
    <div>
      You have applied for this group before and you were invited to join, but you refused the invitation.
  </div>
  
  <% elsif @current_group_user_status == "accepted" %>
  <div>
      Woho! You are a group member!
  </div>
  
  <% end %>
</div>

<% end %>